* {
  box-sizing: border-box;
}

:root {
  --text-font-weight: 700;
  --text-whait-color: #ffffff;
  --color-backgrount-blue: #23a6f0;
  --text-weight-normal: 400;
  --text-color-dark: #252b42;
  --text-color-lite: #737373;
  --primary-font-size: 14px;
  --font-sixi-h2: 24px;
  --primary-color: #23a6f0;
  --light-color: #fff;
  --text-color-h3: #252b42;
  --text-color-description: #737373;
  --font-weigth-text: 400;
  --font-weigth-text-bold: 700;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
li {
  list-style: none;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

.a-hov:hover {
  text-decoration: none;
  color: var(--color-backgrount-blue);
}

button {
  color: var(--text-whait-color);
  outline: none;
  border: none;
}

button:hover {
  transition: 0.5s;
  outline: var(--color-backgrount-blue) solid 1.5px;
  color: var(--color-backgrount-blue);
  background-color: whitesmoke;
  color: var(--color-backgrount-blue);
}

button:hover > svg {
  fill: var(--color-backgrount-blue);
}
